* {
  margin: 0px
}

body {
  background-color: #ded9dd;
  color: #3a3846;
}

nav {
  background-color: #3a3846;
  padding: 0.25em;
  position: sticky;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  display: inline;
}

#title {
  padding-left: 2rem;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  color: #fed3be;
  text-align: center;
  font-size: 2rem;
  padding-right: 2em;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

a:hover {
  color: #639A88
}

section {
  padding: 1rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 35rem;
  float: left;
  padding: 2rem;
}

